@{
    ViewData["Title"] = @ViewBag.myAccount.first_name + " " +@ViewBag.myAccount.last_name ;
}
<div class="header">
    <a class="link" href="/the_wall">Home</a> | 
    <a class="link" href="/logout">Logout</a>
</div>
<div id="body">
    <h1>@ViewBag.myAccount.first_name  @ViewBag.myAccount.last_name </h1>
    <!-- <input type="file" name="profile_pic">
    <p><input type="submit" name="Upload" value="Upload" class="button" /></p> -->

    @{
                DateTime CurrentTime = DateTime.Now;
                <!-- string format = "MMM d, hh:mm tt"; -->
                string format = "MMMM d, hh:mm tt";
            }
    <div id="photo">
       
        <img src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" style='height: 100%; width: 100%; object-fit: contain'>
        

    </div>

        <form action="/uploadphoto" method="POST">
            <input type="file" name="image" accept="image/*">
            <input type="submit" name Submit>
        </form>
    

    <h3>Post a message</h3>
    <form action="/post" method="POST">
        <textarea placeholder="What's on your mind??" rows="3" cols="80" name="message"></textarea><br>
        <input type="submit" name="submit" value="Post a message">
    </form>
    <hr>

    @foreach(var activity in ViewBag.myActivies)
    {
        if(activity.UserID == @ViewBag.CurrUser)
        {
            <p><a h>@activity.User.first_name</a> - @activity.created_at.ToString(format)</p>
            <ul style="list-style: none;">
            <li>@activity.message</li><br>
            <form action="/delete/@activity.messageID" method="POST" class ="form">
                <input type="image" src="https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//delete_sign1600.png" alt="Submit" height="20px" width="20px">
            </form>
            <hr>

            <div id="commentbody">
                @foreach (var comment in ViewBag.userComments)
                {
                    string formating = "MMM d, hh:mm tt";
                    if (comment.MessageID == activity.messageID)
                    {
                        if(comment.User.first_name == @ViewBag.myAccount.first_name)
                        {
                            <a href="/MyPage/MyProfile/@comment.User.first_name-@comment.User.last_name">@comment.User.first_name</a> <span> @comment.comment - @comment.created_at.ToString(formating)</span>
                            <form action="/delete/comment/@comment.commentID" method="POST" class ="form">
                                <input type="image" src="https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//delete_sign1600.png" alt="Submit" height="20px" width="20px">
                            </form>
                            <hr class="lines">
                        }
                        else
                        {
                            <a href="/User/Profile/@comment.User.userID/@comment.User.first_name-@comment.User.last_name">@comment.User.first_name</a> <span> @comment.comment - @comment.created_at.ToString(formating)</span>
                            <hr class="lines">
                        }
                    }
                }

            </div>
                
            <form action="/comment" method ="POST">
                <textarea placeholder="Add a comment.." rows="2" cols="56"></textarea><br>
                <input type="submit" name="submit" Value="Comment">
            </form>
            </ul>   
        }
    }
</div>

