@{
    ViewData["Title"] = @ViewBag.myUser.first_name +" " +@ViewBag.myUser.last_name ;
}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="header">
    <a class="link" href="/logout">Logout</a> | 
    <a class="link" href="/the_wall">Home</a> | 
    <a class="link" href="/MyPage/MyProfile/@ViewBag.CurrUser.first_name-@ViewBag.CurrUser.last_name">@ViewBag.CurrUser.first_name</a>  
</div>
<div id="body">
    <h1>@ViewBag.myUser.first_name  @ViewBag.myUser.last_name </h1>
    @{
                DateTime CurrentTime = DateTime.Now;
                <!-- string format = "MMM d, hh:mm tt"; -->
                string format = "MMMM d, hh:mm tt";
            }

    <p> Need to display user's activities here!!</p>

    <h3>Post a message</h3>
    <form action="/post" method="POST">
        <textarea placeholder="What's on your mind??" rows="3" cols="80" name="message"></textarea><br>
        <input type="submit" name="submit" value="Post a message">
    </form>
    <hr>

    @foreach(var activity in ViewBag.userActivity)
    {
        if(activity.User.first_name == @ViewBag.myUser.first_name )
        {
            <p><a h>@activity.User.first_name</a> - @activity.created_at.ToString(format)</p>
            <ul style="list-style: none;">
            <li>@activity.message</li><br>
            <hr>
            
            <div id="commentbody">
                @foreach (var comment in ViewBag.userComments)
                {
                    string formating = "MMM d, hh:mm tt";
                    if (comment.MessageID == activity.messageID)
                    {
                        if(comment.User.first_name == @ViewBag.CurrUser.first_name)
                        {
                            <a href="/MyPage/MyProfile/@comment.User.first_name-@comment.User.last_name">@comment.User.first_name</a> <span> @comment.comment - @comment.created_at.ToString(formating)</span>
                            <form action="/delete/comment/@comment.commentID" method="POST" class ="form">
                                <input type="image" src="https://maxcdn.icons8.com/Share/icon/p1em/Very_Basic//delete_sign1600.png" alt="Submit" height="20px" width="20px">
                            </form>
                            <hr class="lines">
                        }
                        else
                        {
                            <a href="/User/Profile/@comment.User.userID/@comment.User.first_name-@comment.User.last_name">@comment.User.first_name</a> <span> @comment.comment - @comment.created_at.ToString(formating)</span>
                            <hr class="lines">
                        }
                    }
                }

            </div>
            <form action="/comment" method ="POST">
                <textarea placeholder="Add a comment.." rows="2" cols="56"></textarea><br>
                <input type="submit" name="submit" Value="Comment">
            </form>
            </ul>   
        }
    }
</div>